<div id="<%= dom_id address %>">
  <p>
    <strong>Address:</strong>
    <%= address.address %>
  </p>

  <p>
    <strong>District:</strong>
    <%= address.district %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= address.country %>
  </p>

  <p>
    <strong>User:</strong>
    <%= address.user_id %>
  </p>

</div>
